/* Coolors Exported Palette - coolors.co/342e37-3c91e6-a2d729-fa824c-fafffd */

/* HSL */
$color1: hsla(280%, 9%, 20%, 1);
$color2: hsla(210%, 77%, 57%, 1);
$color3: hsla(78%, 69%, 50%, 1);
$color4: hsla(19%, 95%, 64%, 1);
$color5: hsla(156%, 100%, 99%, 1);

/* RGB */
$color1: rgba(52, 46, 55, 1);
$color2: rgba(60, 145, 230, 1);
$color3: rgba(162, 215, 41, 1);
$color4: rgba(250, 130, 76, 1);
$color5: rgba(250, 255, 253, 1);